---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Actionlint
permissions: { contents: read }

on:  # yamllint disable-line rule:truthy
  workflow_dispatch: {}
  pull_request: { branches: ["main"] }
  push:
    paths:
      - ".github/workflows/*.yaml"
      - ".mise.toml"

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup mise
        uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0

      - name: Run actionlint
        run: mise exec -- actionlint
