---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Commitlint
permissions: { contents: read }

on:
  pull_request_target: {}

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup mise
        uses: jdx/mise-action@4d056cf31b20dbda64e7e44dc5da5565707b00d3 # v2.1.2

      - name: Run commitlint
        run: echo "$PR_TITLE" | commitlint
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
