---
name: Go Pipeline

on:
  workflow_dispatch: {}  # Manual Trigger
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Set up Go
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5
        with:
          go-version: 1.22.3
      
      - name: Run Go Build
        run: go build ./cmd/webhook

  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
  #     - name: Set up Go
  #       uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5
  #       with:
  #         go-version: 1.22.3
  #     - name: Run Go Test
  #       run: go test ./internal/mikrotik/
