---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Goreleaser
permissions: { contents: read }

on:  # yamllint disable-line rule:truthy
  release: { types: [published] }
  pull_request: { branches: ["main"] }
  push: { branches: ["main", "renovate/**"] }
  workflow_dispatch:
    inputs:
      dry-run:
        description: Dry Run
        required: false
        default: false
        type: boolean

jobs:
  goreleaser:
    if: github.repository_owner == 'mirceanton' # ? don't run on forks -> missing repo secrets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: { fetch-depth: 0 }

      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1

      - name: Run goreleaser (dry-run)
        if: |
          (github.event_name == 'push') ||
          (github.event_name == 'workflow_dispatch' && inputs.dry-run == true)
        run: goreleaser --snapshot
        env: { TAP_GITHUB_TOKEN: "${{ secrets.GHCR_RW_TOKEN }}" }

      - name: Generate Token
        if: |
          (github.event_name == 'release') ||
          (github.event_name == 'workflow_dispatch' && inputs.dry-run == false)
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Login to Container Registry
        if: |
          (github.event_name == 'release') ||
          (github.event_name == 'workflow_dispatch' && inputs.dry-run == false)
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: "ghcr.io"
          username: "${{ github.actor }}"
          password: "${{ secrets.GHCR_RW_TOKEN }}"

      - name: Run goreleaser
        if: |
          (github.event_name == 'release') ||
          (github.event_name == 'workflow_dispatch' && inputs.dry-run == false)
        run: mise exec -- goreleaser --clean
        env:
          GITHUB_TOKEN: "${{ steps.app-token.outputs.token }}"
          TAP_GITHUB_TOKEN: "${{ secrets.GHCR_RW_TOKEN }}"
