---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Goreleaser
permissions: { contents: read }

on:  # yamllint disable-line rule:truthy
  release: { types: [published] }
  pull_request: { branches: ["main"] }
  push: { branches: ["main", "renovate/**"] }
  workflow_dispatch:
    inputs:
      dry-run:
        description: Dry Run
        required: false
        default: false
        type: boolean

jobs:
  goreleaser:
    if: github.repository_owner == 'mirceanton' # ? don't run on forks -> missing repo secrets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with: { fetch-depth: 0 }

      - name: Setup mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1

      - name: Run goreleaser (dry-run)
        if: |
          (github.event_name == 'push') ||
          (github.event_name == 'workflow_dispatch' && inputs.dry-run == true)
        run: goreleaser --snapshot
        env: { TAP_GITHUB_TOKEN: "${{ secrets.GHCR_RW_TOKEN }}" }

      - name: Generate Token
        if: |
          (github.event_name == 'release') ||
          (github.event_name == 'workflow_dispatch' && inputs.dry-run == false)
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Login to Container Registry
        if: |
          (github.event_name == 'release') ||
          (github.event_name == 'workflow_dispatch' && inputs.dry-run == false)
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: "ghcr.io"
          username: "${{ github.actor }}"
          password: "${{ secrets.GHCR_RW_TOKEN }}"

      - name: Run goreleaser
        if: |
          (github.event_name == 'release') ||
          (github.event_name == 'workflow_dispatch' && inputs.dry-run == false)
        run: mise exec -- goreleaser --clean
        env:
          GITHUB_TOKEN: "${{ steps.app-token.outputs.token }}"
          TAP_GITHUB_TOKEN: "${{ secrets.GHCR_RW_TOKEN }}"
