---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Labeler

on:
  pull_request_target: {}

jobs:
  pr-labeler:
    uses: mirceanton/reusable-workflows/.github/workflows/reusable-labeler.yaml@09f31ab6340ce5651dc6c28512a82de6b2415fb9 # v3.8.2
    secrets: inherit
    with:
      config-file: .github/configs/labeler.yaml
