---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Lint

on:
  workflow_dispatch: {}
  pull_request: {}

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get changed files
        id: changed-files
        uses: bjw-s-labs/action-changed-files@b1144fc772fca235a50902c7bb6cc431cc7d8e27 # v0.3.2
        with:
          patterns: |-
            .github/workflows/golangci-lint.yaml
            .golangci.yaml
            "**.go"

      - name: Generate Token
        if: steps.changed-files.outputs.changed_files != '[]'
        uses: actions/create-github-app-token@3ff1caaa28b64c9cc276ce0a02e2ff584f3900c5 # v2.0.2
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Setup Go
        if: steps.changed-files.outputs.changed_files != '[]'
        uses: actions/setup-go@v5.4.0
        with:
          go-version-file: go.mod

      - name: Run golangci-lint
        if: steps.changed-files.outputs.changed_files != '[]'
        uses: golangci/golangci-lint-action@v7.0.0
        with:
          github-token: "${{ steps.app-token.outputs.token }}"
          # renovate: datasource=github-tags packageName=golangci/golangci-lint
          version: v2.1.1

  # ===============================================================================================
  # "Meta" linters
  # ===============================================================================================
  actionlint:
    runs-on: ubuntu-latest
    container: ghcr.io/mirceanton/gha-runner-actionlint:latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get changed files
        id: changed-files
        uses: bjw-s-labs/action-changed-files@b1144fc772fca235a50902c7bb6cc431cc7d8e27 # v0.3.2
        with:
          patterns: |-
            .github/workflows/**/*.yml
            .github/workflows/**/*.yaml

      - name: Run actionlint
        if: steps.changed-files.outputs.changed_files != '[]'
        run: actionlint

  commitlint:
    runs-on: ubuntu-latest
    container: ghcr.io/mirceanton/gha-runner-commitlint:latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Validate PR commits with CommitLint
        run: echo "$PR_TITLE" | npx commitlint --extends=./.github/configs/commitlint.config.mjs
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}

  markdownlint:
    runs-on: ubuntu-latest
    container: ghcr.io/mirceanton/gha-runner-markdownlint:latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get changed files
        id: changed-files
        uses: bjw-s-labs/action-changed-files@b1144fc772fca235a50902c7bb6cc431cc7d8e27 # v0.3.2
        with:
          patterns: |-
            .github/configs/.markdownlint.yaml
            **/*.md

      - name: Run MarkdownLint
        if: steps.changed-files.outputs.changed_files != '[]'
        run: markdownlint --config=.github/configs/.markdownlint.yaml "**/*.md"

  yamllint:
    runs-on: ubuntu-latest
    container: ghcr.io/mirceanton/gha-runner-yamllint:latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get changed files
        id: changed-files
        uses: bjw-s-labs/action-changed-files@b1144fc772fca235a50902c7bb6cc431cc7d8e27 # v0.3.2
        with:
          patterns: |-
            **/*.yml
            **/*.yaml

      - name: Run yamllint
        if: steps.changed-files.outputs.changed_files != '[]'
        run: yamllint --config-file=.github/configs/yamllint.yaml .
