---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Lint

on:
  # Manual Trigger
  workflow_dispatch: {}

  # Run on any PR
  pull_request: {}

jobs:
  golangci-lint:
    uses: mirceanton/reusable-workflows/.github/workflows/reusable-go-lint.yaml@240678cf33f0c0c65f0323615c925f0312b2d640 # v3.4.27
    secrets: inherit

  yamllint:
    uses: mirceanton/reusable-workflows/.github/workflows/reusable-yamllint.yaml@240678cf33f0c0c65f0323615c925f0312b2d640 # v3.4.27
    secrets: inherit
    with:
      yamllint-args: "--config-file=.yamllint.yaml"

  actionlint:
    uses: mirceanton/reusable-workflows/.github/workflows/reusable-actionlint.yaml@240678cf33f0c0c65f0323615c925f0312b2d640 # v3.4.27
    secrets: inherit

  shellcheck:
    uses: mirceanton/reusable-workflows/.github/workflows/reusable-shellcheck.yaml@240678cf33f0c0c65f0323615c925f0312b2d640 # v3.4.27
    secrets: inherit

  markdownlint:
    uses: mirceanton/reusable-workflows/.github/workflows/reusable-markdownlint.yaml@240678cf33f0c0c65f0323615c925f0312b2d640 # v3.4.27
    secrets: inherit

  commitlint:
    uses: mirceanton/reusable-workflows/.github/workflows/reusable-commitlint.yaml@240678cf33f0c0c65f0323615c925f0312b2d640 # v3.4.27
    secrets: inherit
