---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Labeler

on:
  workflow_dispatch: {}
  pull_request_target:
    branches: ["main"]

jobs:
  labeler:
    uses: mirceanton/reusable-workflows/.github/workflows/meta-labeler.yaml@main
    secrets: inherit
    with:
      config-file: .github/configs/labeler.yaml
