---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Label Sync

on:
  workflow_dispatch: {}  # Manual Trigger
  push:
    branches: [ "main" ]
    paths: [ ".github/labels.yaml" ]
  schedule:
    - cron: "0 0 * * *" # Every day at midnight

permissions:
  issues: write

jobs:
  label-sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          sparse-checkout: .github/labels.yaml

      - name: Sync Labels
        uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a # v2
        with:
          config-file: .github/labels.yaml
          delete-other-labels: true
