---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test

on:
  workflow_dispatch: {}
  pull_request:
    paths:
      - "**.go"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Go
        uses: actions/setup-go@v5.4.0
        with:
          go-version-file: go.mod

      - name: Run tests
        run: go test -v ./... -race -covermode=atomic
