---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test

on:
  # Manual Trigger
  workflow_dispatch: {}

  # Run on any PR
  pull_request: {}

jobs:
  test:
    uses: mirceanton/reusable-workflows/.github/workflows/reusable-go-test.yaml@0d9c406821566c38302d9af7c59ccfc4d6416c68 # v3.4.46
    secrets: inherit
    with:
      go-version: stable
