---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test

on:
  # Manual Trigger
  workflow_dispatch: {}

  # Run on any PR
  pull_request: {}

jobs:
  test:
    uses: mirceanton/reusable-workflows/.github/workflows/reusable-go-test.yaml@9636dd03edf5f6a14372182c4c07985c85485b9f # v3.4.50
    secrets: inherit
    with:
      go-version: stable
