---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: YAML Lint
permissions: { contents: read }

on:
  workflow_dispatch: {}
  push:
    paths:
      - mise.toml
      - "**.yaml"

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Setup mise
        uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4

      - name: Run yamllint
        run: mise exec -- yamllint .
