---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: YAML Lint
permissions: { contents: read }

on:
  workflow_dispatch: {}
  push:
    paths:
      - mise.toml
      - "**.yaml"

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup mise
        uses: jdx/mise-action@13abe502c30c1559a5c37dff303831bab82c9402 # v2.2.3

      - name: Run yamllint
        run: mise exec -- yamllint .
